@model IEnumerable<Product>


@foreach (var product in Model)
{
    <div class="col-lg-4 col-md-6 pb-4 filter  @product.Category.Name.Replace(' ','_')">
        <!-- Card-->
        <div class="card bg-white rounded shadow-sm " style="border:1px solid #222">
            @if (product.ProductImages != null && product.ProductImages.Count() > 0)
            {
                <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded " />
            }
            else
            {
                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
            }
            <div class="card-body pb-0 ">
                <div class="pl-1">
                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                    <p class="card-title text-warning text-center">Thương hiệu <b>@product.Brand</b></p>
                </div>
                <div class="pl-1">
                    <p class="text-dark text-opacity-75 text-center mb-0">
                        Giá:
                        <span class="text-decoration-line-through">
                            @product.ListPrice.ToString()VNĐ
                        </span>
                    </p>
                </div>
                <div class="pl-1">
                    <p class="text-dark text-opacity-75 text-center ">
                        Giá Ưu Đải:
                        <span>
                            @product.Price6.ToString()VNĐ
                        </span>
                    </p>
                </div>
            </div>
            <div class="">
                <a asp-action="Details"
                   asp-route-productId="@product.Id"
                   class="btn btn-primary bg-gradient border-0 form-control buttons ">
                    Chi Tiết
                </a>

            </div>
        </div>
    </div>
}